 /* Google fonts import */
 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

 /* Asterisk wildcard selector to overide default styles added by the browser */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 /* Header */
 header {
     background-color: aquamarine;
     position: relative;
     z-index: 99;
     padding: 0 16px;
     box-shadow: 0 3px 3px #606060;
     justify-content: space-around;
     display: flex;
     align-items: baseline;
     width: 100%;
 }


 header a {
    text-decoration: dashed;
    color: #606060;
 }

 h1 {
    font-family: "Montserrat", sans-serif;
    color: #606060;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: x-large; 
 }

 #menu-card {
    letter-spacing: 3px;
    font-size: 115%;
    list-style-type: none;
 }

 #menu-card > li {
    margin-bottom: 6px;
 }

 .active {
    border-bottom: #606060 solid 1px;
 }

/* Navbar */
 nav {
    position: absolute;
    background-color: aquamarine;
    padding: 16px;
    width: 100%;
    right: 0;
    display: none;
    box-shadow: 0 3px 3px #606060;
    top: 100%;
 }

 /* Nav Toggle */
 #nav-toggle:checked~nav {
    display: block;
 }

 #nav-toggle {
    display: none;
 }

 .nav-toggle-label {
    font-size: 32px;
 }


 /* General style */
 body {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     /* Basic project style */
     color: #606060;
     font-size: "Montserrat", sans-serif;
    
    
 }

 /* Main Content */
 main {
     background-color: goldenrod;
      /* Main element occupy excess space to force footer down */
      flex: 1 0 auto;
      
      
 }


 /* Footer */
 footer {
     background-color: aquamarine;
 }


 #networks {
    text-align: center;
    font-size: medium;
    color: #606060;
    text-decoration: wavy;
 }

 #network-with-us {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0 20px;
    text-align: center;
 }

 #network-with-us i {
    font-size: large;
    padding: 5%;
    color: #606060;
 }

 
 /* Media query: tablets and larger (768px and up) */
 @media screen and (min-width: 768px) {
    /* Header */
    nav {
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 16px;
        display: block;
    }

    #menu-card {
        display: flex;
    }

    #menu-card > li {
        padding-left: 16px;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: xx-large;
        line-height: 80%;
        margin: 0 8px;
    }


 }

 /* Media query: larger devices (laptop and desktops, 981px and up) */
 @media screen and (min-width: 981px) {
    #menu-card a:hover {
        border-bottom: #606060 solid 1px;
    }

    
 }